<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark secondary-color pink lighten-1">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">DIMI.C</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">메인&nbsp;<i class="fas fa-home"></i> <span class="sr-only">(current) </span> 
                </a>
            </li>
        </ul>
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/api/user/login">로그인&nbsp;<i class="fas fa-user"></i></a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/user/signup">회원가입&nbsp;<i class="fas fa-user-edit"></i></a> 
            </li>
        </ul>

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->