<!DOCTYPE html>
<html lang="en">

<%- include("../header"); %>

<body>

  <%- include("menu"); %>

  <%- include("main"); %>

  <%- include("../footer"); %>

</body>


<script>
  $(function () {
      $.ajax({
        url: "/api/user/getBarcodeId",
        type: "POST"
      }).done((barcode_id) => {
        $("#barcode").JsBarcode(barcode_id, {
        width: 3,
        height: 100,
      });
      })
  });
</script>


</html>